	*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.logo{
	float: left;
	height: 100px;
}
.head-title h1{
	padding-top: 0px;
	background-color: black;
	color: white;
	width: 100%;
	padding: 10px;
	text-align: center;
	clear: both;
}
.navbar{
	width: 100%;
	height: 110px;
	background-color:#01d7a7;
	position: sticky;
	top:0;
}
.navbar ul{
	float: right;
}
.navbar ul li{
	list-style-type: none;
	display: inline-block;
	padding: 5px;
}
.navbar ul li a{
	text-decoration: none;
	color: black;
	line-height: 100px;
	padding: 25px 30px;
	font-size: 17px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	border: 1px black solid;
	border-radius: 10px;
	transition: 0.9s ease;
}
.bg-image{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(6827768-shopping-wallpaper.jpg);
	width: 100%;
	height: 750px;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;	
}
.title{
	width: 40%;
	height: auto;
	position: absolute;
	top: 45%;
	left: 18.5%;
}
.title h1{
	font-size: 57px;
	color: white;
	line-height: 65px;
}
.navbar ul li a:hover{
	color:white;
	background-color: black;
}
footer{
	background: grey;
	bottom: 0;
	left:0;
	right: 0;
	height: 5%;
}
footer h1{
	text-align: center;
	color: snow;
}
.bg-image .title a{
	color: white;
	background-color: #01d7a7;
	border-radius: 10px;
	border: 1px solid black;
	text-decoration: none;
	padding:16px 36px;
	text-align: center;
	letter-spacing: 0.5px;
	margin-right: 10px;
	line-height: 26px;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	transition: 0.9s ease;
}
.bg-image .title a:hover{
	background-color: black;
	color: white;
	border:1px solid snow;
}
.category{
	width: 250px;
	height: 550px;
	margin-left: 10px;
	position: absolute;
	top:62%;
	left:10%;
	transform: translate(-50%,-50%);
	position: fixed;
	overflow-x: hidden;
	top: 62%;
	text-align: center;
	

}
.category ul{
	float: left;
	text-decoration: none;
}
.category ul li{
	display: block;
	list-style-type: none;
}
.category ul li a{
	text-decoration: none;
	background-color: transparent;
	color: white;
	font-weight: bold;
	display: block;
	line-height: 50px;
	width: 150px;
	font-size: 15px;
	letter-spacing: 0.5px;
	border: 1px black solid;
	text-align: center;
	transition: 0.9s ease;
	text-transform: uppercase;
}
.category ul li a:hover{
	color:black;
	background-color: white;
}
.items-container{
	margin-left: 15%;
	height: 100%;
	width: 100%;
	margin-top: 5%;
	float: right;
	grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    column-gap: 20px;
}
.grid {
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: stretch;
  }

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  border-radius: 10px;
  text-align: center;
  background-color: white;
  border:2px solid black;	
}

.grid > article:hover{
  transition: transform .1s ease-out;
  transform: translateY(5px);
}

.grid > article img {
  width: 100%;
  padding:10px;
}


.text {
  padding: 0 20px 20px;
}

.text > h3{
  text-transform: uppercase;
}

.text ul li{
	list-style-type: none;
	display: inline-block;
	padding-left: 5px;
}
.text ul li a{
	text-decoration: none;
	background-color: black;
	color: snow;
	border-radius: 10px;
	display: block;
	line-height: 50px;
	width: 140px;
	font-size: 15px;
	letter-spacing: 0.5px;
	border: 1px black solid;
	text-align: center;
	transition: 0.9s ease;
	text-transform: uppercase;
}
.back{
	background:url(lp.jpg);
	background-repeat: repeat;
	width: 100%;
	height: 1000px;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;	
}
.grid > article{
    text-align: center;
  }
  .modal{
   background-color: rgba(0,0,0, .8);
   width:100%;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
   opacity: 0;
   visibility: hidden;
   transition: all .5s;
  }

  .modal__content{
   width: 30%;
   height: 25%;
   background-color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 2em;
   border-radius: 1em;
   opacity: 0;
   visibility: hidden;
   transition: all .5s;
  }

  #modal:target{
   opacity: 1;
   visibility: visible;
  }

  #modal:target .modal__content{
   opacity: 1;
   visibility: visible;
  }

  .modal__close{
   color: #363636;
   font-size: 2em;
   position: absolute;
   top: .5em;
   right: 1em;
  }

  .modal__heading{
   color: dodgerblue;
   margin-bottom: 1em;
  }

  .modal__paragraph{
   line-height: 1.5em;
   text-align: center;
   font-size: 30px;
   font-family: cursive;
   color: dodgerblue;
  }

.modal-open{
 display: inline-block;
 color: dodgerblue;
 margin: 2em;
}
.modal-login input[type="text"], .modal-login input[type="password"],.modal-signup input[type="text"], .modal-signup input[type="password"], .modal-signup textarea
{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid  #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}
.modal-login input[type="text"]:focus, .modal-login input[type="password"]:focus,.modal-signup input[type="text"]:focus, .modal-signup input[type="password"]:focus
{
	width: 260px;
	border-color: #2ecc71;
}
.modal-login input[type="submit"],.modal-signup input[type="submit"]
{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid  #3498db;
	padding: 14px 40px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}
.modal-login input[type="submit"]:hover,.modal-signup input[type="submit"]:hover
{
	background: green;
}
.modal-login, .modal-signup{
   background-color: rgba(0,0,0, .8);
   width:100%;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
   opacity: 0;
   visibility: hidden;
   transition: all .5s;
  }

  .modal__content__login, .modal__content__signup{
   width: 30%;
   height: 85%;
   background-color: #000;
   color: cyan;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 2em;
   border-radius: 1em;
   opacity: 0;
   visibility: hidden;
   transition: all .5s;
  }

  #modal-login:target,#modal-signup:target{
   opacity: 1;
   visibility: visible;
  }

  #modal-login:target .modal__content__login,#modal-signup:target .modal__content__signup{
   opacity: 1;
   visibility: visible;
  }

  .modal__close__login, .modal__close__signup{
   color: #fff;
   font-size: 2em;
   position: absolute;
   top: .5em;
   right: 1em;
  }

  .modal__heading{
   color: dodgerblue;
   margin-bottom: 1em;
  }


  .modal__paragraph{
   line-height: 1.5em;
   text-align: center;
   font-size: 30px;
   font-family: cursive;
   color: dodgerblue;
  }

.modal-login-open, .modal-signup-open{
 display: inline-block;
 color: dodgerblue;
 margin: 2em;
}
.modal-login a, .modal-signup a{
	color: black;
	background-color: #01d7a7;
	border-radius: 3px;
	text-decoration: none;
	padding:16px 36px;
	text-align: center;
	letter-spacing: 0.5px;
	margin-right: 10px;
	line-height: 26px;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	transition: 0.9s ease;
}
.about-back{
	background:url(b1.jpg);
	background-repeat: repeat;
	width: 100%;
	height: 630px;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.profile{
	width: 400px;
	background-color: rgba(0,0,0,0.3);
	padding: 30px 50px;		
	border-radius: 10%;
}
.profile-text{
		color: white;
		text-align: center;
		line-height: 50px;
}
.profile img{
	height: 250px;
	border-radius: 50%;
}
.cart-btn a{
	color: black;
	background-color: #01d7a7;
	border-radius: 10px;
	text-decoration: none;
	padding:16px 36px;
	text-align: center;
	letter-spacing: 0.5px;
	margin-right: 10px;
	line-height: 26px;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	transition: 0.9s ease;
}
.cart-btn a:hover{
	background-color: black;
	color: cyan;
}
.contact-us input[type="text"], .mainprojbox input[type="password"], textarea
{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid  #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}
.contact-us input[type="text"]:focus, .mainprojbox input[type="password"]:focus, textarea:focus
{
	width: 260px;
	border-color: #2ecc71;
}
.contact-us input[type="submit"]
{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid  #3498db;
	padding: 14px 40px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}
.contact-us input[type="submit"]:hover
{
	background: green;
}
.contact-us h3{
	font-family: cursive;
	color: cyan;
	text-align: center;
}
.sale-img{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(muffler1.jpg);
	margin: 10px;
	width: 100%;
	height: 750px;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;	
}
.sale-title{
	background: rgba(0,0,0,0.3);
	padding: 10px;
	border-radius: 2%;
	text-transform: uppercase;
	width: 40%;
	height: auto;
	position: absolute;
	top: 175%;
	left: 18%;
}
.sale-title h1{
	font-size: 57px;
	color: #d1f2eb;
	line-height: 65px;
}
.sale-title h3{
	font-size: 37px;
	color: #d1f2eb;
	line-height: 65px;
}
.serif{
	font-family: "Times New Roman",Times,serif;
}
